.button {
    padding: 10px 26px;
    border: 2px solid $gd-color-dark;
    border-radius: 82px;
    color: $gd-color-dark;
    font-family: $gdfont-demibold;
    font-size: 1.1rem;
    line-height: 27px;
    text-align: center;
    text-transform: none;
    transition: all .3s;

    &,
    &:hover,
    &:focus,
    &:active {
        text-decoration: none !important;
        background-color: transparent;
    }

    &:hover,
    &:focus,
    &:active {
        color: desaturate(lighten($color-deep-purple, 30%), 40%);
        border-color: desaturate(lighten($color-deep-purple, 30%), 40%);
    }

    &-inverted {
        color: $gd-color-white;
        border-color: $gd-color-white;

        &:hover,
        &:focus,
        &:active {
            color: #ccc;
            background-color: #ccc;
        }
    }

    &-dark {
        background-color: $color-shocking-pink;

        &,
        &:hover,
        &:focus,
        &:active {
            color: $gd-color-white;
            border-color: transparent;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: darken($color-shocking-pink, 10%);
        }
    }

    &.docs-prev,
    &.docs-next {
        min-width: 0;
        margin: 1rem 0;
    }
}

.button-link {
    font-family: $gdfont-demibold;
    text-decoration: underline;

    &,
    &:hover,
    &:focus,
    &:active {
        font-size: 18px;
    }
}

a {
    color: $color-shocking-pink;
    transition: all 0.2s;

    &:hover,
    &:focus,
    &:active {
        color: darken($color-shocking-pink, 10%);
        text-decoration: underline;
    }
}

.button-more-charts {
    position: relative;
    top: 2px;
    display: inline-block;
    padding: 6px 15px;
    border: 1px solid $gd-color-disabled;
    border-radius: 100px;
    color: #6c7581;
    font-size: 14px;
    line-height: 22px;

    &::before {
        content: '+';
        position: relative;
        display: inline-block;
        margin-top: -1px;
        margin-right: 7px;
        color: #97A1AE;
        font-size: 20px;
        font-weight: bold;
        vertical-align: top;
    }

    &:hover,
    &:focus,
    &:active {
        border-color: $gd-color-state-blank;
        text-decoration: none;
    }
}

.buttonWrapper {
    display: flex;

    @media #{$large-down} {
        justify-content: center;
    }

    &__center {
        justify-content: center;
    }

    & & + & {
        margin-left: 20px;
    }
}
