.featuresBlock {
    display: flex;
    align-items: center;
    color: $gd-color-text;

    @media #{$medium-down} {
        flex-wrap: wrap;
    }
}

.featuresSubtitle {
    color: $gd-color-dark;
    font-size: 1.625rem;

    @media #{$medium-down} {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
}

.featuresBlockText-left,
.featuresBlockText-right {
    .featuresTitle {
        margin-bottom: 0;
    }
}

.featuresBlockText-right {
    .featuresText {
        @media #{$medium-up} {
            order: 1;
        }
    }
}

.featuresBlockText-center {
    flex-wrap: wrap;

    &,
    .featuresText {
        text-align: center;
    }

    .featuresText,
    .featuresExample {
        flex: 1 1 100%;
    }

    .featuresExample {
        padding-top: 0;
    }
}

.featuresText,
.featuresExample {
    padding: 4rem 2rem;
    flex: 1 1 50%;

    @media #{$medium-down} {
        padding: 2rem;
        flex-basis: 100%;
        max-width: 100%;
    }
}

.featuresText {
    text-align: left;

    .buttonWrapper {
        display: inline-block;
        text-align: inherit;
    }
}

.featuresLink {
    display: inline-block;
    margin: 2rem 0;
}

.exampleCode,
.exampleImageImage {
    box-shadow: $shadow;
    background-color: $gd-color-white;
}

.exampleCode {
    margin: 0;
    padding: 1.56rem 1.3rem;
    border: none;
    border-radius: 0;
    white-space: pre-wrap;
    text-align: left;

    .highlighting {
        margin: 0;
        padding: 0;
        background-color: transparent;
        border: none;
    }
}

.exampleImage {
    position: relative;
    overflow: hidden;
    margin: 0 -1rem -1rem;
    padding: 1.75rem 1rem 1rem;

    .exampleCode + & {
        &::before {
            content: '';
            position: absolute;
            left: 50%;
            width: 2.19rem;
            height: 2.19rem;
            margin-top: -3.5rem;
            margin-left: -1.57rem;
            box-shadow: $shadow;
            background-color: $gd-color-white;
            transform: rotate(45deg);
        }
    }
}

.exampleImageImage {
    width: 100%;
}

.featuresBlockGallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
    text-align: center;

    + .buttonWrapper {
        margin-top: 3rem;
    }

    .featuresText & {
        margin-top: 3rem;
        margin-left: -0.625rem;
    }

    @media #{$medium-down} {
        justify-content: center;
    }
}

.featuresBlockGalleryItem {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 25rem;
    min-width: 15rem;
    margin: 0 0.625rem 1.25rem;

    &.card {
        align-self: stretch;
        padding: 0 1.25rem 1.25rem;
        border-radius: 3px;
        box-shadow: 0 0 11px 0 transparentize($gd-color-dark, 0.92);
        background: $gd-color-text-light;
        text-align: left;
    }

    @media #{$medium-down} {
        width: 50%;
        margin-bottom: 3rem;
    }

    @media #{$small-down} {
        width: 100%;
    }
}

.featuresBlockGalleryTitle {
    margin: 0.4rem 0;
    color: $gd-color-dark;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;

    &:first-child {
        margin-top: 1.25rem;
    }
}

.featuresBlockGalleryImage {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin: 0 0 1.25rem;

    &Image {
        position: absolute;
        max-height: 100%;
    }

    &Hover {
        opacity: 0;
        transition: 0.2s all;
    }

    &:hover &Hover {
        opacity: 1;
    }

    .featuresBlockGalleryItem.card & {
        height: 130px;
        margin-right: -1.25rem;
        margin-left: -1.25rem;

        &Image {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

.featuresBlockGalleryText,
.featuresBlockGalleryLink {
    margin: 1rem 0;
}

.featuresBlockGalleryText {
    flex: 1 0 auto;
}

.featuresBlockGalleryLink {
    margin-bottom: 0;
}

.charting-lib-logo {
    display: inline-block;
    margin: 0.5rem 1.5rem 0.5rem 0;
    vertical-align: middle;
}

.d3-logo {
    width: 46px;
    height: 43px;
}

.highcharts-logo {
    width: 190px;
    height: 37px;
}

.chartjs-logo {
    width: 143px;
    height: 63px;
}
