.nav-footer {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-self: stretch;
    justify-content: center;
    height: 120px;
    color: transparentize($gd-color-text-light, 0.2);
    line-height: 22px;
    text-align: center;
    background-color: $gray-4;
    padding: 16px 24px;

    @media #{$large-down} {
        height: auto;
        padding: 10px 12px;
    }

    &-links {
        display: flex;
        align-items: stretch;
        padding: 0 19px;
        vertical-align: middle;

        & + & {
            border-left: 2px solid transparentize($gd-color-white, 0.5);

            @media #{$large-down} {
                border-left: none;
            }
        }

        &:first-child {
            justify-content: flex-end;
        }

        @media #{$large-down} {
            flex-direction: column;
            margin-bottom: 15px;
            padding-top: 10px;
            padding-bottom: 15px;
            border-bottom: 1px solid transparentize($gd-color-white, 0.5);
        }

        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 1280px;
            margin: 0 auto 15px;
            color: $gd-color-text-light;
            font-size: 14px;
            line-height: 18px;

            @media #{$large-down} {
                flex-direction: column;
                align-items: stretch;
                margin: 0 20px;
            }
        }

        &-heading {
            align-self: center;
            margin: 0 15px;
            font-weight: bold;
            white-space: nowrap;

            @media #{$large-down} {
                margin-bottom: 5px;
                font-size: 16px;
            }
        }

        &-list {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            list-style-type: none;
            margin: 0;
            padding: 0;

            @media #{$large-down} {
                flex-direction: column;
                align-items: center;
            }

            &-item {
                display: flex;
                align-items: stretch;
                flex: 0 0 auto;
            }

            & &-item {
                margin: 0;
            }
        }
    }

    &-link {
        display: flex;
        align-items: center;
        padding: 0 15px;

        img {
            vertical-align: middle;
        }

        @media #{$large-down} {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    &-logo {
        &::before {
            content: '';
            display: block;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        &-github::before {
            width: 65px;
            height: 19px;
            background-image: url('../img/footer/github-logo.png');
        }

        &-twitter::before {
            width: 20px;
            height: 20px;
            background-image: url('../img/footer/twitter-logo.png');
        }
    }

    &-copyright {
        max-width: 1280px;
        margin: 0 auto;
        color: rgb(255, 255, 255, 0.7);
        font-size: 12px;

        @media #{$large-down} {
            margin: 0 25px 5px;

            a {
                display: block;
            }
        }
    }

    a {
        text-decoration: none;

        &,
        &:hover,
        &:focus,
        &:active {
            color: $gd-color-text-light;
        }

        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;

            &::before {
                opacity: 0.9;
            }
        }
    }
}
