.fixedHeaderContainer {
    padding: 0;
    background: $gd-color-white;

    @media #{$large-up} {
        height: 140px;
    }

    &::after {
        content: "";
        position: absolute;
        top: 81px;
        right: 0;
        bottom: 0;
        left: 0;
        border-top: 1px solid rgba(0,0,0,.2);
        border-bottom: 1px solid rgba(0,0,0,.2);
        background-color: $gray-2;

        @media #{$large-down} {
            display: none;
        }
    }

    header img,
    .logo {
        width: 127px;
        height: 35px;

        @media only screen and (min-width: 1400px) {
            margin-right: 258px;
        }
    }

    header {
        height: 65px;
        align-items: center;

        @media #{$large-up} {
            height: 81px;
        }

        > a {
            flex: 0 0 auto;

            &:hover,
            &:active,
            &:focus {
                h3 {
                    text-decoration: underline;
                }
            }
        }

        a {
            .logo {
                display: block;
                opacity: 0.9;
                margin-top: -4px;
            }

            &:hover .logo {
                opacity: 1;
            }
        }

        h2 {
            display: none;
        }

        h3 {
            position: absolute;
            right: 0;
            display: none;
            margin: 0;
            color: $gd-color-text;
            font-family: $gdfont-regular;
            font-weight: lighter;
            font-size: 0.9rem;
            text-decoration: none;

            .separateOnPageNav & {
                display: flex;
            }

            @media #{$large-up} {
                top: 101px;
                right: 471px;
            }
        }
    }
}

.navigationSlider {
    position: relative;
    flex: 1 1 auto;

    .slidingNav {
        padding: 0;

        ul {
            background-color: transparent;

            @media #{$large-down} {
                width: auto;
                margin-left: 10px;
                margin-right: 10px;
                margin-top: 65px;
            }

            @media #{$large-up} {
                justify-content: center;
                margin-right: 250px;
            }

            @media only screen and (min-width: 1400px) {
                margin-right: 380px;
            }
        }

        ul li {
            flex: 0 1 auto;
            padding: 0;

            a {
                margin: 0;
                padding: 20px 20px 16px;
                border-bottom: 3px solid transparent;
                line-height: 24px;
                font-family: $gdfont-extrabold;
                font-size: 15px;
                text-decoration: none;
                transition: all 0.2s;

                &,
                &:hover,
                &:focus,
                &:active {
                    color: $color-deep-purple;
                }

                &:hover,
                &:focus,
                &:active {
                    border-color: $color-shocking-pink;
                    background-color: transparent;
                }

                &:empty {
                    display: none;
                }

                &[href="https://www.gooddata.com/developers/"] {
                    @media #{$large-up} {
                        position: relative;
                        margin-right: 20px;
                        padding-left: 25px;

                        &::before {
                            content: "";
                            display: inline-block;
                            position: absolute;
                            left: 0;
                            top: 28px;
                            width: 24px;
                            height: 24px;
                            background: url(https://www.gooddata.com/learn-assets/img/navicon-learn.svg) center no-repeat;
                            background-size: contain;
                        }

                        &::after {
                            content: "";
                            display: inline-block;
                            position: absolute;
                            right: -9px;
                            top: 30px;
                            width: 2px;
                            height: 22px;
                            background: $gd-color-dark;
                        }
                    }
                }

                &[href="/gooddata-ui/"] {
                    border-bottom-color: $color-shocking-pink;
                }

                @media #{$large-down} {
                    height: 1.5rem;
                    padding: 0 0.5rem;
                    line-height: 1.5rem;
                }

                @media #{$large-up} {
                    height: 81px;
                    line-height: 81px;

                    &[href*="https://github.com/"],
                    &[href*="https://gdui-examples.herokuapp.com/"],
                    &[href*="/gooddata-ui/docs/interactive_examples.html"],
                    &[href*="/gooddata-ui/docs/roadmap.html"] {
                        position: absolute;
                        top: 97px;
                        right: 0;
                        display: none;
                        height: 26px;
                        margin: 0;
                        padding: 5px 20px;
                        border: 1px solid transparentize($gd-color-text, 0.5);
                        border-radius: 100px;
                        color: $gd-color-text;
                        font-family: $gdfont-regular;
                        font-size: 14px;
                        font-weight: normal;
                        line-height: 19px;

                        &:hover,
                        &:focus,
                        &:active {
                            border-color: $gd-color-text;
                        }

                        .separateOnPageNav & {
                            display: flex;
                        }
                    }

                    &[href*="https://github.com/"] {
                        right: 0;
                    }

                    &[href*="https://gdui-examples.herokuapp.com/"] {
                        right: 100px;
                    }

                    &[href*="/gooddata-ui/docs/interactive_examples.html"] {
                        right: 198px;
                    }

                    &[href*="/gooddata-ui/docs/roadmap.html"] {
                        right: 345px;
                    }
                }
            }

            &:nth-child(1) a[href="/gooddata-ui/"],
            &:nth-child(2) a[href="https://www.gooddata.com/developers/cloud-native/doc/"] {
                position: absolute;
                top: 98px;
                left: -137px;
                height: 24px;
                margin: 0;
                padding: 0;
                border: none;
                font-family: $gdfont-regular;
                font-size: 14px;
                font-weight: normal;
                line-height: 24px;
                color: $color-shocking-pink;

                @media only screen and (min-width: 1400px) {
                    left: -380px;
                }

                &:hover,
                &:focus,
                &:active {
                    text-decoration: underline;
                }

                &::before {
                    content: "";
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    margin-right: 10px;
                    background-image: url('../img/header/icon-gdui.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }

            &:nth-child(1) a[href="/gooddata-ui/"] {
                .separateOnPageNav & {
                    display: none;
                }

                @media #{$large-down} {
                    display: none;
                }
            }

            &:nth-child(2) a[href="https://www.gooddata.com/developers/cloud-native/doc/"] {
                display: none;

                &::after {
                    content: "GoodData.UI";
                    position: absolute;
                    left: 100%;
                    padding-left: 19px;
                    color: $gd-color-state-blank;
                    background-image: url('../img/header/chevron.svg');
                    background-repeat: no-repeat;
                    background-position: 6px 4px;
                    pointer-events: none;
                }

                .separateOnPageNav & {
                    @media #{$large-up} {
                        display: flex;
                    }
                }
            }

            a[href="https://www.gooddata.com/developers/cloud-native-community-edition/"] {
                position: absolute;
                top: 25px;
                right: 0;
                height: 28px;
                margin: 0;
                padding: 5px 20px;
                border: none;
                border-radius: 14px;
                font-family: $gdfont-demibold;
                font-size: 12px;
                line-height: 18px;
                color: $color-white;
                background-color: $color-shocking-pink;
                transition: 0.15s ease-in-out;

                &:hover,
                &:focus,
                &:active {
                    background-color: darken($color-shocking-pink, 10%);
                }

                @media #{$large-down} {
                    display: none;
                }
            }
        }

        .navSearchWrapper {
            position: absolute;
            z-index: 1;
            top: 0;
            right: 50px;
            bottom: 0;
            display: none;
            width: auto;
            justify-content: flex-start;
            padding: 0 20px;

            &::before,
            &::after {
                display: none;
            }

            .separateOnPageNav & {
                display: flex;
            }

            @media #{$large-up} {
                top: 110px;
                right: 505px;
            }

            @media #{$large-down} {
                height: 65px;
            }

            @media #{$medium-down} {
                right: 60px;
            }
        }

        @media #{$large-down} {
            box-shadow: $shadow;
            background: $gray-3;

            .sideNavVisible & {
                box-shadow: none;
            }
        }
    }

    nav.slidingNav {
        box-sizing: border-box;
        position: fixed;
        top: 0;
        right: 0;
        bottom: auto;
        left: 0;
        background: $gray-3;

        @media #{$large-up} {
            background: none;
            height: auto;
            position: relative;
            right: auto;
            top: auto;
            width: auto;
        }
    }

    @media #{$large-up} {
        overflow: visible;

        &,
        nav.slidingNav,
        .nav-site {
            height: 100%;
        }
    }
}

.navPusher {
    display: flex;
    flex-direction: column;
    padding-top: 88px;

    @media #{$large-up} {
        padding-top: 140px;
    }
}

h1,
.mainContainer .wrapper .post h1,
.mainContainer .wrapper .post h2,
.mainContainer .wrapper .post h3 {
    color: $gd-color-dark;
}

nav.toc .toggleNav .navGroup.navGroupActive {
    background: rgba(230, 230, 230, 1);

    h3 {
        background: linear-gradient(to bottom, #1e2025 0%, #0a0d14 100%);
    }
}

.hamburger-menu {
    top: 0;

    .docsSliderActive & {
        top: 5px;
    }
}
