.fixedHeaderContainer {
    height: 64px;
    padding: 0;

    header img,
    .logo {
        width: 212px;
        height: 35px;
    }

    header {
        height: 100%;
        align-items: center;

        > a {
            flex: 0 0 auto;

            &:hover,
            &:active,
            &:focus {
                h3 {
                    text-decoration: underline;
                }
            }
        }

        a {
            .logo {
                display: block;
                opacity: 0.9;
                margin-top: -4px;
            }

            &:hover .logo {
                opacity: 1;
            }
        }

        h2 {
            display: none;
        }

        h3 {
            position: absolute;
            right: 168px;
            margin: 0;
            color: $gd-color-text;
            font-family: $gd-font-primary;
            font-weight: lighter;
            font-size: 0.9rem;
            text-decoration: none;

            @media #{$large-down} {
                right: 0;
            }
        }

        @media #{$large-down} {
            height: 64px;
        }
    }

    @media #{$large-up} {
        box-shadow: $shadow;
        background: $gray-3;
    }
}

.navigationSlider {
    position: relative;
    flex: 1 1 auto;

    .slidingNav {
        padding: 0 30px;

        ul {
            background-color: transparent;

            @media #{$large-down} {
                justify-content: space-evenly;
                margin-top: 64px;
            }

            @media #{$large-up} {
                margin-right: 218px;
            }
        }

        ul li {
            flex: 0 1 auto;
            padding: 0;

            @media #{$large-up} {
                flex: 0 0 auto;
            }

            a {
                padding: 3px 8px 0;
                border-bottom: 2px solid transparent;
                color: transparentize($gd-color-dark, 0.3);
                font-size: 15px;
                text-decoration: none;
                transition: all 0.2s;

                &:empty {
                    display: none;
                }

                @media #{$large-down} {
                    height: 1.5rem;
                    margin: 0;
                    padding: 0 0.5rem;
                    line-height: 1.5rem;
                }

                @media #{$large-up} {
                    height: 4rem;
                    line-height: 4rem;

                    &[href*="https://github.com/"],
                    &[href*="https://gooddata-examples.herokuapp.com/"] {
                        position: absolute;
                        top: 17px;
                        right: 0;
                        height: 1.75rem;
                        margin: 0;
                        padding: 5px 10px;
                        border: 1px solid transparentize($gd-color-dark, 0.5);
                        border-radius: 100px;
                        color: $gd-color-dark;
                        font-size: 0.75rem;
                        line-height: 1.75rem;

                        &:hover,
                        &:focus,
                        &:active {
                            border-color: $gd-color-dark;
                        }
                    }

                    &[href*="https://github.com/"] {
                        right: 0;
                    }

                    &[href*="https://gooddata-examples.herokuapp.com/"] {
                        right: 78px;
                    }
                }

                @media #{$large-up} {
                    margin: 0 8px;
                }
            }

            a:focus,
            a:hover,
            &.siteNavItemActive a,
            &.siteNavGroupActive a,
            a[href*="/gooddata-ui/"] {
                color: transparentize($gd-color-dark, 0.1);
                background-color: transparent;
                transition: all 100ms ease-in;
            }

            a:focus,
            a:hover {
                border-bottom-color: $gd-color-text;
            }

            &.siteNavItemActive a,
            &.siteNavGroupActive a,
            a[href*="/gooddata-ui/"] {
                border-bottom-color: $gd-color-highlight;
            }
        }

        .navSearchWrapper {
            position: absolute;
            z-index: 1;
            top: 0;
            right: 199px;
            bottom: 0;
            width: auto;
            justify-content: flex-start;
            padding: 0 20px;

            &::before {
                position: absolute;
                top: 0;
                bottom: 0;
                left: -20px;
                width: 20px;
                height: auto;
                border: none;
                border-radius: 0;
                background-image: linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,0));
                transform: none;
            }

            @media #{$large-up} {
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: 100vw;
                    height: auto;
                    background-color: #f4f4f4;
                    z-index: -1;
                    transform: none;
                }
            }

            @media #{$large-down} {
                right: 100px;
                height: 64px;

                &::after {
                    display: none;
                }
            }
        }

        @media #{$large-down} {
            box-shadow: $shadow;
            background: $gray-3;

            .sideNavVisible & {
                box-shadow: none;
            }
        }
    }

    nav.slidingNav {
        box-sizing: border-box;
        position: fixed;
        top: 0;
        right: 0;
        bottom: auto;
        left: 0;
        background: $gray-3;

        @media #{$large-up} {
            background: none;
            height: auto;
            position: relative;
            right: auto;
            top: auto;
            width: auto;
        }
    }

    @media #{$large-up} {
        overflow: visible;

        &,
        nav.slidingNav,
        .nav-site {
            height: 100%;
        }
    }
}

.navPusher {
    display: flex;
    flex-direction: column;
    padding-top: 88px;

    @media #{$large-up} {
        padding-top: 64px;
    }
}

h1,
.mainContainer .wrapper .post h1,
.mainContainer .wrapper .post h2,
.mainContainer .wrapper .post h3 {
    color: $gd-color-dark;
}

nav.toc .toggleNav .navGroup.navGroupActive {
    background: rgba(230, 230, 230, 1);

    h3 {
        background: linear-gradient(to bottom, #1e2025 0%, #0a0d14 100%);
    }
}

.hamburger-menu {
    top: 0;

    .docsSliderActive & {
        top: 5px;
    }
}
