code {
    font-size: 80%;
}
code,
.hljs {
    border-left: 5px solid #717B82;
    border-radius: 0;
    box-shadow: none;
    background-color: $color-deep-purple;

    p &,
    h2 &,
    ul &,
    ol & {
        border-left: none;
    }
}

code,
.hljs,
.hljs-subst {
    color: #f8f8f2;
}

.hljs-comment {
    color: $gd-color-state-blank;
}

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag {
    color: #a6e22e;
}

.hljs-title,
.hljs-section,
.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color: #fd971f;
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-function {
    color: #e6db74;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta,
.hljs-meta-keyword,
.hljs-meta-string,
.hljs-doctag,
.hljs-name {
    color: #66d9ef;
}

.hljs-literal {
    color: #ae81ff;
}

.hljs-deletion {
    color: $color-red;
}

.hljs-addition {
    color: $color-emerald-green;
}
