.projectTitle {
    color: inherit;
    font-weight: bold;
}

.projectDescription {
    margin: 1.25rem 1.25rem 1.25rem 0;
    font-size: 2rem;
    line-height: 2.75rem;

    @media #{$medium-down} {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
}

.homeWrapper {
    position: relative;
    display: flex;
    align-items: center;
    color: $gd-color-dark;

    @media #{$large-down} {
        flex-direction: column;
    }

    &,
    .homeContainer & {
        padding: 2.625rem 1.25rem;

        @media #{$large-down} {
            padding: 2.625rem 2.5rem;
        }
    }

    .left,
    .right {
        flex: 1;
    }

    .left {
        @media #{$large-up} {
            margin-right: 6.875rem;
            text-align: left;
        }
    }

    .right {
        max-width: 52rem;

        @media #{$large-up} {
            text-align: right;
        }

        @media #{$large-down} {
            margin-top: 2rem;
        }
    }
}

.splash-parallax {
    position: relative;
    margin-top: 15%;

    &-layer {
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 0.1s;

        &-0 {
            position: static;
        }
    }
}

.backgroundBlock {
    &-stretch {
        height: 700px;

        .wrapper {
            height: 100%;
        }
    }

    &-white {
        background-color: $gd-color-white;
    }

    &-gray {
        background-color: $gray-2;
    }

    &-image {
        background-image: url('../img/homepage/backgroundBlock-image.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    
        &,
        .wrapper,
        .featuresTitle,
        .featuresSubtitle {
            color: $gd-color-white;
        }
    }
}
