body,
h1,
h2,
h3,
h4 {
    font-family: $gdfont-regular;
    font-weight: normal;
    line-height: 1.25;
}

body,
.mainContainer {
    color: $color-deep-purple;
    font-size: 16px;
}

h1, .container.mainContainer .wrapper .post .postHeader h1,
h2, .container.mainContainer .wrapper .post h2, .productShowcaseSection h2,
h3, .container.mainContainer .wrapper .post h3,
h4 {
    padding: 0;
    color: $color-deep-purple;
}

h1 {
    margin-bottom: 30px;
    font-size: $h1-xs;
    font-weight: normal;

    @media #{$large-up} {
        font-size: $h1-xl;
    }

    small {
        margin: 0;
        font-size: 2rem;
        font-weight: normal;
        line-height: 2.75rem;
    }
}

h2,
.mainContainer .wrapper .post h1,
.productShowcaseSection h2 {
    margin-bottom: 24px;
    font-size: $h2-xs;
}

h3,
.mainContainer .wrapper .post h2 {
    margin-bottom: 12px;
    font-family: $gdfont-demibold;
    font-size: $h3-xs;
    font-weight: normal;
}

h4,
.mainContainer .wrapper .post h3 {
    margin-bottom: 12px;
    font-family: $gdfont-demibold;
    font-size: $h4-xs;
    font-weight: normal;
}

.mainContainer .wrapper .post h4 {
    font-family: $gdfont-demibold;
    font-size: 17px;
    font-weight: normal;
}

.mainContainer .wrapper p,
.blockElement p {
    margin: 0.7rem 0;
    padding: 0;
    font-size: 17px;
    line-height: 1.5;
}

strong {
    font-family: $gdfont-extrabold;
    font-weight: normal;
}
